/* ================================================= */
/* レスポンシブデザイン */
/* ================================================= */
.header-image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.responsive {
    width: 100%;
    margin: auto;
    display: block;
}

/* ツール一覧を縦並びにする */
.tool-item {
    display: block;
    padding: 20px;
}

.tool-description,
.tool-buttons {
    grid-column: auto;
}

.tool-buttons {
    padding-left: 0;
}

.scrollable-list {
    overflow-y: hidden;
    height: auto;
}

/* リンクボタンのサイズ調整 */
.link-button a {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}
