.tab {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tab button {
    flex: 0 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
    margin: 0;
}
