body {
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #f7f7f7;
    font-size: 1.25em;
    line-height: 2em;
}


h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

header {
    /* background-color: #DDD; */
    /* color: #f7f7f7; */
    padding: 10px;
    text-align: center;
}

/* デフォルト (スマホ向け) */
.header-image {
    width: 100%;
    max-width: 300px;
    /* スマホでは適切なサイズ */
    margin: 0 auto;
}

/* PC向け */
@media (min-width: 600px) {
    .header-image {
        max-width: 700px;
        /* PCでは適切なサイズに縮小 */
    }
}

footer {
    color: #333;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-weight: normal;
    color: #f7f7f7;
    line-height: 1.2em;
}

.sub-header p {
    font-size: 0.9em;
    line-height: 1.2em;
    text-align: center;
}

footer {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 0.9rem;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


/* ================================================= */
/* リンクハイライト */
/* ================================================= */

a {
    color: #0077cc;
    text-decoration: none;
    border-bottom: solid 2px;
    font-weight: bold;
}

.text_link {
    display: inline;
    padding: 0.1em 0.3em;
    transition: all 0.3s;
}

.text_link:hover {
    color: #fff;
    background-color: #0077cc;
}



/* ================================================= */
/* 大型モニターに対応 */
/* ================================================= */

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ================================================= */
/* タブボタン */
/* ================================================= */

.tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #eee;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    border-radius: 8px;
}

.tab button {
    background-color: #fff;
    border: 2px solid #ddd;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
}

.tab button:hover {
    background-color: #0077cc;
    color: #fff;
    border-color: #0077cc;
}

.tab button.active {
    background-color: #0077cc;
    color: #fff;
    border-color: #0077cc;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border: 1px solid #ddd;
    margin-top: -1px;
}


/* ================================================= */
/* リンクボタン */
/* ================================================= */

.link-button a {
    color: #0077cc;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #0077cc;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.link-button a:hover {
    background-color: #0077cc;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 119, 204, 0.4);
}

.link-button .horizontal-links a {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.link-button .horizontal-links a:last-child {
    margin-right: 0px;
}

.link-button li {
    display: inline-block;
    background-color: #fefefe;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
}

/* ================================================= */
/* ツール一覧 */
/* ================================================= */

/* ツールの説明を左、ボタンを右に配置するためのCSS */
.tool-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 1番目のカラムに配置 */
.tool-description {
    grid-column: 1 / 2;
    margin: 0 auto;
    padding: 20px;
}

/* 2番目のカラムに配置 */
.tool-buttons {
    grid-column: 2 / 3;
    padding-left: 20px;
    margin: 0 auto;
}

/* ================================================= */
/* 新着情報 */
/* ================================================= */
.news-date {
    font-weight: bold;
    font-size: 1.5em;
}

.scrollable-list {
    height: 1000px;
    overflow-y: auto;
}

.scrollable-list li p {
    margin-bottom: 10px;
}

/* 最後の項目のセパレータを削除 */
.scrollable-list li p:last-child {
    border-bottom: none;
}


/* ================================================= */
/* メンバー紹介 */
/* ================================================= */

.member-profile {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.member-profile h2 {
    color: #333;
    margin-bottom: 15px;
    font-weight: 700;
}

.member-profile p {
    color: #777;
    margin-bottom: 20px;
}

.member-profile img.member-photo {
    width: 150px;
    /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    /* Make it circular */
    margin-bottom: 10px;
}

/* ================================================= */
/* レスポンシブデザイン */
/* ================================================= */

/* デフォルト（PC用）のサイズ */
.responsive {
    width: 80%;
}

@media (max-width: 600px) {
    .responsive {
        width: 100%;
        margin: auto;
        display: block;
    }

    .link-button {
        display: block;
        text-align: center;
    }

    .link-button li {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 0;
    }

    .link-button a {
        width: 90%;
        display: block;
        margin: 0 auto;
    }


    /* 「ツール一覧」を左右分割表示ではなく、一列に表示ためのCSS */
    .tool-item {
        display: block;
        /* グリッドをオフにしてブロック表示に */
        padding: 20px;
        /* 必要に応じてパディングを再設定 */
    }

    .tool-description,
    .tool-buttons {
        grid-column: auto;
        /* グリッドの設定をリセット */
    }

    .tool-buttons {
        padding-left: 0;
        /* スマートフォン表示では左のパディングをリセット */
    }

    .scrollable-list {
        overflow-y: hidden;
        height: auto;
        /* Newsのスクロール付をオフにする */
    }
}
