body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #fff;
    font-size: 1.25em;
    line-height: 2em;
}

header {
    font-size: 0.8em;
    text-align: center;
}

.sub-header p {
    font-size: 0.8em;
    color: #555;
    text-align: center;
    line-height: 1em;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    text-align: center;
}

h1 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


/* ================================================= */
/* リンクハイライト */
/* ================================================= */
a {
    color: #0077cc;
    text-decoration: none;
    border-bottom: solid 2px;
    font-weight: bold;
}

.text_link {
    display: inline;
    padding: 0.1em 0.3em;
    transition: all 0.3s;
}

.text_link:hover {
    color: #fff;
    background-color: #0077cc;
}



/* ================================================= */
/* 大型モニターに対応 */
/* ================================================= */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ================================================= */
/* 背景色と矢印付きのボタン */
/* ================================================= */

.button01 a {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    min-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button01 a:hover {
    background: #0077cc;
    color: #fff;
}

.button01 a:after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.button01 a:hover:after {
    border-color: #fff;
}

/* 水平方向にリンクを配置するための追加のCSS */
.button01 .horizontal-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button01 .horizontal-links a:not(:last-child) {
    margin-right: 20px;
}

/* ================================================= */
/* ツール一覧 */
/* ================================================= */

/* ツールの説明を左、ボタンを右に配置するためのCSS */
.tool-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

/* 1番目のカラムに配置 */
.tool-description {
    grid-column: 1 / 2;
    margin: 0 auto;
    padding: 20px;
}

/* 2番目のカラムに配置 */
.tool-buttons {
    grid-column: 2 / 3;
    padding-left: 20px;
    margin: 0 auto;
}

/* ================================================= */
/* 新着情報 */
/* ================================================= */
.news-date {
    font-weight: bold;
    font-size: 1.5em;
}

.scrollable-list {
    height: 1000px;
    overflow-y: auto;
}

.scrollable-list li p {
    margin-bottom: 10px;
}

/* 最後の項目のセパレータを削除 */
.scrollable-list li p:last-child {
    border-bottom: none;
}


/* ================================================= */
/* レスポンシブデザイン */
/* ================================================= */

/* デフォルト（PC用）のサイズ */
.responsive {
    width: 80%;
}

@media (max-width: 600px) {
    .responsive {
        width: 100%;
        margin: auto;
        /* 左右のマージンを自動で設定し中央揃えに */
        display: block;
        /* 画像をブロックレベル要素として扱う */
    }

    /* ボタンのサイズを調整 */
    .button01 a {
        min-width: 80%;
    }

    /* 水平方向にリンクを配置するための追加のCSS */
    .button01 .horizontal-links {
        display: block;
        /* flexからblockに変更して垂直方向に表示 */
    }

    .button01 .horizontal-links a:not(:last-child) {
        margin-right: 0;
        /* 水平方向の間隔を削除 */
        margin-bottom: 10px;
        /* 垂直方向の間隔を追加 */
    }

    /* 「ツール一覧」を左右分割表示ではなく、一列に表示ためのCSS */
    .tool-item {
        display: block;
        /* グリッドをオフにしてブロック表示に */
        padding: 20px;
        /* 必要に応じてパディングを再設定 */
    }

    .tool-description,
    .tool-buttons {
        grid-column: auto;
        /* グリッドの設定をリセット */
    }

    .tool-buttons {
        padding-left: 0;
        /* スマートフォン表示では左のパディングをリセット */
    }
}


/* ================================================= */
/* タブボタン */
/* ================================================= */

.tab {
    overflow: hidden;
    background-color: #f4f5f7;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    border-radius: 8px 8px 0 0;
}

.tab button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab button:hover {
    background-color: #0077cc;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.tab button.active {
    background-color: #0077cc;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Updated Tab Content */
.tabcontent {
    display: none;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    border: 1px solid #ddd;
    margin-top: -1px;
}


/* ================================================= */
/* メンバー紹介 */
/* ================================================= */

.member-profile {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.member-profile h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
    font-weight: 700;
}

.member-profile p {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
}

.member-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.member-links li {
    display: inline-block;
    background-color: #fefefe;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
}

.member-links a {
    font-size: 1.1em;
    color: #0077cc;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #0077cc;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.member-links a:hover {
    background-color: #0077cc;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 119, 204, 0.4);
}


@media (max-width: 600px) {
    .member-links {
        display: block;
        text-align: center;
    }

    .member-links li {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 0;
    }

    .member-links a {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}
